.docker/
.history
doc
docker/
var/
vendor/
public/bundles/
.git/
.gitignore
.gitattributes
.dockerignore
*.php~
.env.local.dist
.gitignore
.gitlab-ci.yml
auth.json
docker-compose.dev.yml
docker-compose.test.yaml
docker-compose.yml
Dockerfile
Makefile
README.md