.idea
.vscode
*.log
*.local
/auth.json
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/config/.keys/
/var/
/vendor/
/.phpcs-cache
/phpcs.xml
.phpunit.result.cache
/phpunit.xml
docker-compose.override.yml
*.pem
/.history